@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE  */
html{
    scroll-behavior: smooth;
}

body {
    @apply bg-zinc-900 text-zinc-100 !important;
}

/* Components */

.headline{
    @apply max-w-max;
    background: -webkit-linear-gradient(0deg, #fafafa, #a1a1aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

